<div class="container">
	<div class="row">
		<!-- <h1><%= @user.first_name %>'s Meal</h1> -->
		<h1><%= @menu_item.name %></h1>
		<%= link_to 'Back to Meal List', user_path(1), class: "btn btn-primary" %>
	</div>

	
</div><!-- container -->