<div class="text-align__center jumbotron">
	<h1>Welcome to the <br> Fallergy App</h1>

	<p>An app that tracks the food you eat and the reactions to that food</p>

	<%= link_to "Try It Now", users_path, class: "btn btn-lg btn-primary" %>

</div>

<div class="container home-info-box">
	<div class="row">
		<div class="col-md-4">
			<h3 class="midrow">Common Food Allergies</h3>
			<p class="text-align__center home-info-box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae officia architecto quidem in error quia.</p>
			<p><%= link_to "Browse", "", class: "btn btn-small btn-warning" %></p>
		</div>
		<div class="col-md-4">
			<h3 class="midrow">Food Allergy Diets</h3>
			<p class="text-align__center home-info-box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae officia architecto quidem in error quia.</p>
			<p><%= link_to "Browse", "", class: "btn btn-small btn-warning" %></p>
		</div>
		<div class="col-md-4">
			<h3 class="midrow">Local Holistic Care</h3>
			<p class="text-align__center home-info-box__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae officia architecto quidem in error quia.</p>
			<p><%= link_to "Browse", "", class: "btn btn-small btn-warning" %></p>
		</div>
	</div>
</div>