#logo {
	margin: 10px;
	margin-left: 0;
	float: left;
	font-size: 2em;
	color: #337ab7;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: 10px 0;
	font-weight: bold;
	&:hover {
		color: #337ab7;
		text-decoration: none;
	}
}

.get-app {
	float: right;
	padding-top: 18px;
	width: 263px;
}

.get-app__ios {
	float: left;
	margin-right: 10px;
}

.get-app__google-play {
	float: right;
}

.get-app {
	display: none;
	@media only screen and (min-width : 767px) {
		display: block;
	}
}